body {
    font-size: 14px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #6c757d;
}

.carousel {
    margin-top: 56px;
}

.carousel-caption {
    text-align: left;
    bottom: 23%;
    left: 12%;
    color: #333;
}

.carousel-caption h5 {
    font-size: 60px;
    font-weight: bolder;
}

.carousel-caption p {
    font-size: 30px;
}

.card-image {
    position: relative;
}

.number {
    align-self: center;
}

.product-list .product .card-image {
    cursor: url(../images/move.png) 42 42, auto;
}

.actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 2rem);
    top: 1rem;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.buy {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    color:#999;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    transition: background-color .5s ease-in-out, color .5s ease-in-out, transform .2s ease-in-out;
    transform: translateX(100px);
}

.buy:hover {
    background-color: #6c757d;
    color: white;
}

.input-group .form-control {
    max-width: 40px;
}

.number .input-group {
    transform: translateY(100px);
    transition: transform .2s ease-in-out;
}

.product:hover .buy {
    transform: translateX(0);
}

.product:hover .number .input-group {
    transform: translateY(0);
}

.card p {
    margin-bottom: 0;
} 

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.card-title h5 { 
    font-weight: 200;
    margin-bottom: 0;
    margin-right: 1rem;
}

.color-primary { 
    color: #418d73;
}

.price {
    font-size: 20px;
    margin-bottom: 0;
}

.cart-wrapper {
    position: fixed;
    right: 0;
    bottom: 40px;
    z-index: 2;
}

.cart-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    margin-bottom: 10px;
    background-color: white;
    max-height: 80vh;
    overflow: auto;
}

.cart-list .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    padding: 1rem;
}

.cart-list .card:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
}

.cart-list .card-image {
    width: 50px;
}

.cart-list .card-body {
    padding: .5rem 1rem;
    padding-right: 0;
}

.cart-icon-wrapper {
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 50px;
    background-color: #59caa379;
    color: #418d73;
    transition: opacity .5s ease-in-out;
}

.cart-icon-wrapper:hover {
    opacity: .9;
}

.cart-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #418d73;
    color: white;
}

.cart-price {
    padding-left: .75rem;
    padding-right: 1rem;
}

.cart-price:empty {
    padding: 0;
}

.cart-list .quantity,
.cart-list .sub-total {
    color: #797979;  
}

.cart-list .quantity {
    margin: 0 .25rem;
}

.delete-item {
    cursor: pointer;
    color: #EF572C;
    margin-left: 1rem;
}

.btn-delete {
    width: fit-content;
    background-color: #EF572C;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-delete:hover {
    background-color: rgb(212, 76, 39);
    color: white;
}

footer {
    background: #333;
    color: white;
}

@media only screen and (max-width: 600px) {
    .carousel-item img {
      height: 400px !important;
      transform: translateX(-50%);
      width: auto !important;
    }
}

@media only screen and (max-width: 1000px) {
    .carousel-caption {
        bottom: 20%;
    }

    .carousel-caption h5 {
        font-size: 30px;
        font-weight: bolder;
    }
    
    .carousel-caption p {
        font-size: 20px;
    }
}